body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(55, 85, 36);
    color: #ffffff;
    padding: 10px 0;
}

.content {
    background-color: #ffffff; 
    color: #000000; 
    float: left;
    width: 68%;
    padding: 20px;
}

.sidebar {
    background-color: #f5d260; 
    color: #800020;
    padding: 10px;
    float: right;
    width: 28%;
    margin-right: 2%;
    max-width: 100%;
    overflow: hidden;
}

p {
    color: #000000;
}

footer {
    background-color: rgb(55, 85, 36); 
    color: #000000;
    padding: 25px;
    clear: both;
}

.slidebar img{    
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}